<style>
  @import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative&family=Lora&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
/*font-family: 'Lora', serif;
font-family: 'Cinzel Decorative', cursive;*/


@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200&display=swap');
@import url('https://dl.dropbox.com/s/qm6x16r9jjlbgd4/game-icons.css');

#formiga{
	margin:0 auto;
	width:510px;
	text-align:justify;
	font-size:var(--font);
	font-family: 'Lora', serif;
	color:#dfdfdf;
}

#formiga .titulo{
	margin:0 auto;
	width:540px;
	text-align:center;
	color:var(--cor);
	letter-spacing:14px;
	border-bottom: 1px outset var(--cor);
	font-size:var(--font-titulo);
}

#formiga .sub{
	letter-spacing:5px;
	border:none;
	font-size:var(--font-sub);
}

.ico{
	margin: 0 auto;
	width:125px;
}

.icon{
	font-size:40px;
	opacity:0.8;
	margin:0;
}

#formiga dl.codebox dt {
	color:var(--cor);
}

.cred{
	text-align:center;
}

.cred a {
	color:#ccc;
	font-size:8px;
	letter-spacing:6px;
}


/*Lista de Cores*/
f{/*Falas*/
    font-size: 12px;
    color:#0A6844;
}
ff{/*Pensamentos*/
    font-size: 12px;
    color:#0A6844;
}
/*NPCs*/
c{
    color: #AAB6F8;
}
c1{
    color: #38BEA2;
}
c2{
    color: #24bbed;
}
c3{
    color: #329fb3;
}
c4{
    color: #7874B0;
}
